In [15]:
# importing pandas module
import pandas as pd
  
# loading data set
data = pd.read_csv(r'/Users/selendenizkizilirmak/Desktop/PIWorks/country_vaccination_stats.csv')
  
# display the data
print(data)

        country        date  daily_vaccinations  \
0     Argentina  12/29/2020                 NaN
1     Argentina  12/30/2020             15656.0
2     Argentina  12/31/2020             15656.0
3     Argentina    1/1/2021             11070.0
4     Argentina    1/2/2021              8776.0
...         ...         ...                 ...
1497      Wales   1/20/2021             11105.0
1498      Wales   1/21/2021             12318.0
1499      Wales   1/22/2021             15148.0
1500      Wales   1/23/2021             17371.0
1501      Wales   1/24/2021             17063.0

                                 vaccines
0                               Sputnik V
1                               Sputnik V
2                               Sputnik V
3                               Sputnik V
4                               Sputnik V
...                                   ...
1497  Oxford/AstraZeneca, Pfizer/BioNTech
1498  Oxford/AstraZeneca, Pfizer/BioNTech
1499  Oxford/AstraZeneca, Pfizer/BioNTech
1500  Oxford/AstraZeneca, Pfizer/BioNTech
1501  Oxford/AstraZeneca, Pfizer/BioNTech

[1502 rows x 4 columns]

In [16]:
data.daily_vaccinations=data.daily_vaccinations.fillna(data.daily_vaccinations.min())

In [17]:
data

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,1.0,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"